/BuildingBlocks/Domain/obj
/BuildingBlocks/Infrastructure/obj
/src/API/obj
/src/Application/obj
/_OLD
/.vs
/BuildingBlocks/Application.Abstractions/obj
/tests/IntegrationTests/bin/Debug/net9.0
/tests/IntegrationTests/obj
/DraftUI
